h1, h3{
    color: blue;
    text-align: center;
}

body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #dcf2ee;
}

input {
    font-size: 15px;
    color: black;
}

canvas {
    /*width: 500px;
    height: 300px;*/
    border: grey 5px solid;
}

p {
   color: blue; 
    font-size: 20px;
}

table {
    margin: auto;
    align-content: center;
}

th {
    padding: 50px;
}

a:link {
    color: darkblue;
}

a:visited {
    color: purple;
}

a:hover {
    color: hotpink;
}

a:active {
    color: green;
}